<div class="container mt-5">
    <div class="header-box">
        <h1>Computer Science Department Survey</h1>
    </div>

    <div class="content">
        <div id="greeting" class="greeting"></div>
        <form [formGroup]="surveyForm" (ngSubmit)="onSubmit()" id="surveyForm" autocomplete="on">
            <!-- First Name and Last Name -->
            <div class="mb-3 row">
                <div class="col-md-6">
                    <label for="firstName" class="form-label required">First Name</label>
                    <input type="text" id="firstName" class="form-control" formControlName="firstName" required
                        [readonly]="readOnly" autocomplete="name">
                    <div *ngIf="surveyForm.get('firstName')?.invalid && surveyForm.get('firstName')?.touched"
                        class="error-message">
                        <small *ngIf="surveyForm.get('firstName')?.hasError('required')">First name is required.</small>
                        <small *ngIf="surveyForm.get('firstName')?.hasError('pattern')">First name must contain only
                            letters.</small>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="lastName" class="form-label required">Last Name</label>
                    <input type="text" id="lastName" class="form-control" formControlName="lastName" required
                        [readonly]="readOnly" autocomplete="name">
                    <div *ngIf="surveyForm.get('lastName')?.invalid && surveyForm.get('lastName')?.touched"
                        class="error-message">
                        <small *ngIf="surveyForm.get('lastName')?.hasError('required')">Last name is required.</small>
                        <small *ngIf="surveyForm.get('lastName')?.hasError('pattern')">Last name must contain only
                            letters.</small>
                    </div>
                </div>
            </div>

            <!-- Email -->
            <div class="mb-3">
                <label for="email" class="form-label required">Email</label>
                <input type="email" id="email" class="form-control" formControlName="email" required
                    [readonly]="readOnly" autocomplete="email">
                <div *ngIf="surveyForm.get('email')?.invalid && surveyForm.get('email')?.touched" class="error-message">
                    <small *ngIf="surveyForm.get('email')?.hasError('required')">Email is required.</small>
                    <small *ngIf="surveyForm.get('email')?.hasError('email')">Please enter a valid email
                        address.</small>
                </div>
            </div>

            <!-- Telephone -->
            <div class="mb-3">
                <label for="telephone" class="form-label required">Telephone</label>
                <input type="tel" id="telephone" class="form-control" formControlName="telephone" required
                    [readonly]="readOnly" placeholder="123-456-7890">
                <div *ngIf="surveyForm.get('telephone')?.invalid && surveyForm.get('telephone')?.touched"
                    class="error-message">
                    <small *ngIf="surveyForm.get('telephone')?.hasError('required')">Telephone number is
                        required.</small>
                    <small *ngIf="surveyForm.get('telephone')?.hasError('pattern')">Please enter a valid telephone
                        number.</small>
                </div>
            </div>

            <!-- Date of Survey -->
            <div class="mb-3">
                <label for="dateOfSurvey" class="form-label required">Date of Survey</label>
                <input type="date" id="dateOfSurvey" class="form-control" formControlName="dateOfSurvey" required
                    [readonly]="readOnly">
                <div *ngIf="surveyForm.get('dateOfSurvey')?.invalid && surveyForm.get('dateOfSurvey')?.touched"
                    class="error-message">
                    <small *ngIf="surveyForm.get('dateOfSurvey')?.hasError('required')">Date of survey is
                        required.</small>
                </div>
            </div>

            <!-- Zip Code -->
            <div class="mb-3">
                <label for="zipCode" class="form-label required">Zip Code</label>
                <input type="text" id="zipCode" class="form-control" formControlName="zipCode" placeholder="12345"
                    [readonly]="readOnly" autocomplete="postal-code" (blur)="handleZipCodeBlur()">
                <div *ngIf="surveyForm.get('zipCode')?.invalid && surveyForm.get('zipCode')?.touched"
                    class="error-message">
                    <small *ngIf="surveyForm.get('zipCode')?.hasError('required')">Zip Code is required.</small>
                    <small *ngIf="surveyForm.get('zipCode')?.hasError('pattern')">Please enter a valid zip code.</small>
                </div>
            </div>

            <!-- Address -->
            <div class="mb-3">
                <label for="streetAddress" class="form-label required">Street Address</label>
                <input type="text" id="streetAddress" class="form-control" formControlName="streetAddress" required
                    [readonly]="readOnly" autocomplete="streetAddress">
                <div *ngIf="surveyForm.get('streetAddress')?.invalid && surveyForm.get('streetAddress')?.touched"
                    class="error-message">
                    <small *ngIf="surveyForm.get('streetAddress')?.hasError('required')">Street Address is
                        required.</small>
                </div>
            </div>

            <!-- City -->
            <div class="mb-3">
                <label for="city" class="form-label required">City</label>
                <input type="text" id="city" class="form-control read-only-field" formControlName="city"
                    [readonly]="readOnly" autocomplete="address-level2" readOnly>
                <div *ngIf="surveyForm.get('city')?.invalid && surveyForm.get('city')?.touched" class="error-message">
                    <small *ngIf="surveyForm.get('city')?.hasError('required')">City is required.</small>
                </div>
            </div>

            <!-- State -->
            <div class="mb-3">
                <label for="state" class="form-label required">State</label>
                <input type="text" id="state" class="form-control read-only-field" formControlName="state"
                    [readonly]="readOnly" autocomplete="address-level2" readOnly>
                <div *ngIf="surveyForm.get('state')?.invalid && surveyForm.get('state')?.touched" class="error-message">
                    <small *ngIf="surveyForm.get('state')?.hasError('required')">State is required.</small>
                </div>
            </div>

            <!-- Campus Likes -->
            <div class="mb-3">
                <label class="form-label">What did you like most about the campus?</label>
                <div class="checkbox-group">
                    <ng-container
                        *ngFor="let option of ['Students', 'Location', 'Atmosphere', 'Dorm Rooms', 'Sports']; let i = index">
                        <input type="checkbox" [id]="'option-' + i" [value]="option" (change)="onCheckboxChange($event)"
                            [checked]="surveyForm.get('whatDoYouLikeAboutCampus')?.value?.includes(option)"
                            class="form-check-input">
                        <label [for]="'option-' + i" class="form-check-label">{{ option }}</label>
                    </ng-container>
                </div>
                <div *ngIf="surveyForm.get('whatDoYouLikeAboutCampus')?.invalid && surveyForm.get('whatDoYouLikeAboutCampus')?.touched"
                    class="error-message">
                    <small *ngIf="surveyForm.get('whatDoYouLikeAboutCampus')?.hasError('required')">Please select at
                        least one option.</small>
                </div>
            </div>

            <!-- <div class="mb-3">
                <label class="form-label">What did you like most about the campus?</label>
                <div class="checkbox-group">
                  <ng-container *ngFor="let option of ['Students', 'Location', 'Atmosphere', 'Dorm Rooms', 'Sports']; let i = index">
                    <input type="checkbox"
                      [id]="'option-' + i"
                      [value]="option"
                      (change)="onCheckboxChange($event)"
                      [checked]="surveyForm.get('whatDoYouLikeAboutCampus').value.includes(option)"
                      class="form-check-input">
                    <label [for]="'option-' + i" class="form-check-label">{{ option }}</label>
                  </ng-container>
                </div>
              </div> -->


            <!-- How did you hear about us -->
            <div class="mb-3">
                <label class="form-label">How did you hear about us?</label>
                <div class="radio-group">
                    <input type="radio" name="howDidYouHearAboutUs" formControlName="howDidYouHearAboutUs" id="friends"
                        class="form-check-input" value="Friends" [disabled]="readOnly">
                    <label for="friends" class="form-check-label">Friends</label>

                    <input type="radio" name="howDidYouHearAboutUs" formControlName="howDidYouHearAboutUs" id="tv"
                        class="form-check-input" value="Television" [disabled]="readOnly">
                    <label for="tv" class="form-check-label">Television</label>

                    <input type="radio" name="howDidYouHearAboutUs" formControlName="howDidYouHearAboutUs" id="internet"
                        class="form-check-input" value="Internet" [disabled]="readOnly">
                    <label for="internet" class="form-check-label">Internet</label>

                    <input type="radio" name="howDidYouHearAboutUs" formControlName="howDidYouHearAboutUs" id="other"
                        class="form-check-input" value="Other" [disabled]="readOnly">
                    <label for="other" class="form-check-label">Other</label>
                </div>
                <div *ngIf="surveyForm.get('howDidYouHearAboutUs')?.invalid && surveyForm.get('howDidYouHearAboutUs')?.touched"
                    class="error-message">
                    <small *ngIf="surveyForm.get('howDidYouHearAboutUs')?.hasError('required')">Please select how you
                        heard about us.</small>
                </div>
            </div>

            <!-- Additional Comments -->
            <div class="mb-3">
                <label for="comments" class="form-label">Additional Comments</label>
                <textarea id="comments" class="form-control" rows="4" formControlName="additionalComments"
                    [readonly]="readOnly"></textarea>
            </div>

            <!-- Recommendation -->
            <div class="mb-3">
                <label for="recommend" class="form-label">Would you recommend us?</label>
                <select id="recommend" class="form-select" formControlName="wouldYouRecommendUs" [disabled]="readOnly">
                    <option value="Very Likely">Very Likely</option>
                    <option value="Likely">Likely</option>
                    <option value="Unlikely">Unlikely</option>
                </select>
                <div *ngIf="surveyForm.get('wouldYouRecommendUs')?.invalid && surveyForm.get('wouldYouRecommendUs')?.touched"
                    class="error-message">
                    <small *ngIf="surveyForm.get('wouldYouRecommendUs')?.hasError('required')">Recommendation is
                        required.</small>
                </div>
            </div>

            <!-- Graduation Month (Select Dropdown) -->
            <div class="mb-3 row">
                <div class="col-md-6">
                    <label for="gradMonth" class="form-label ">Graduation Month</label>
                    <select id="gradMonth" class="form-select" formControlName="gradMonth" [disabled]="readOnly">
                        <option value="" disabled selected>Select Month</option>
                        <option value="Jan">January</option>
                        <option value="Feb">February</option>
                        <option value="Mar">March</option>
                        <option value="Apr">April</option>
                        <option value="May">May</option>
                        <option value="Jun">June</option>
                        <option value="Jul">July</option>
                        <option value="Aug">August</option>
                        <option value="Sep">September</option>
                        <option value="Oct">October</option>
                        <option value="Nov">November</option>
                        <option value="Dec">December</option>
                    </select>
                    <div *ngIf="surveyForm.get('gradMonth')?.invalid && surveyForm.get('gradMonth')?.touched"
                        class="error-message">
                        <small *ngIf="surveyForm.get('gradMonth')?.hasError('required')">Graduation month is
                            required.</small>
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="gradYear" class="form-label">Graduation Year</label>
                    <input type="number" id="gradYear" class="form-control" formControlName="gradYear"
                        [readonly]="readOnly" />
                    <div *ngIf="surveyForm.get('gradYear')?.invalid && surveyForm.get('gradYear')?.touched"
                        class="error-message">
                        <small *ngIf="surveyForm.get('gradYear')?.hasError('required')">Graduation year is
                            required.</small>
                        <small *ngIf="surveyForm.get('gradYear')?.hasError('pattern')">Graduation year must be a valid
                            year.</small>
                    </div>
                </div>
            </div>


            <!-- Data -->
            <div class="mb-3">
                <label for="data" class="form-label ">Data</label>
                <input type="text" id="data" class="form-control" formControlName="data" [readonly]="readOnly"
                    (input)="computeAverageAndMax()">
                <div *ngIf="surveyForm.get('data')?.invalid && surveyForm.get('data')?.touched" class="error-message">
                    <small *ngIf="surveyForm.get('data')?.hasError('required')">Data is required.</small>
                </div>
            </div>

            <!-- Maximum -->
            <div class="mb-3">
                <label for="maximum" class="form-label ">Maximum</label>
                <input type="number" id="maximum" class="form-control read-only-field" formControlName="maximum"
                    [readonly]="readOnly" readonly>
                <div *ngIf="surveyForm.get('maximum')?.invalid && surveyForm.get('maximum')?.touched"
                    class="error-message">
                    <small *ngIf="surveyForm.get('maximum')?.hasError('required')">Maximum is required.</small>
                </div>
            </div>

            <!-- Average -->
            <div class="mb-3">
                <label for="average" class="form-label">Average</label>
                <input type="number" id="average" class="form-control read-only-field" formControlName="average"
                    [readonly]="readOnly" readonly>
                <div *ngIf="surveyForm.get('average')?.invalid && surveyForm.get('average')?.touched"
                    class="error-message">
                    <small *ngIf="surveyForm.get('average')?.hasError('required')">Average is required.</small>
                </div>
            </div>

            <div class="form-group"  *ngIf="!readOnly">
                <label for="acknowledgment">
                    <input type="checkbox" id="acknowledgment" formControlName="acknowledgment" />
                    I acknowledge that the information provided is accurate to the best of my knowledge.
                </label>
            </div>


            <!-- Submit Button -->
            <div class="d-flex gap-3">
                <!-- Submit Button -->
                <button type="submit" class="btn btn-primary" [disabled]="readOnly || surveyForm.invalid" *ngIf="!readOnly">Submit</button>
            
                <!-- Reset button -->
                <button type="button" class="btn btn-secondary" (click)="resetForm()" [disabled]="readOnly" *ngIf="!readOnly">Reset</button>
            
                <!-- Close button (only shown if in read-only mode) -->
                <button type="button" class="btn btn-danger" (click)="closeForm()" *ngIf="readOnly">Close</button>
            </div>
            
        </form>
    </div>
</div>