<div class="container mt-5 home">
    <div class="profile-container">
        <img src="https://portfolio642.s3.us-east-1.amazonaws.com/images/profile.JPG" alt="Ramyashree Nandakumar"
            class="profile-pic">
    </div>

    <div id="home" class="section active">
        <h1>Ramyashree Nandakumar</h1>
        <h4>Data Scientist | Software Engineer</h4>
        <div class="content">
            <p>Results-driven Software Engineer with 4 years of experience. Currently pursuing an MS in Computer
                Science at George Mason University, specializing in Machine Learning, Deep Learning, and AI.</p>
            <p><strong>Email:</strong> <a href="mailto:reddyramya3003&#64;gmail.com">reddyramya3003&#64;gmail.com</a> |
                <strong>Phone:</strong> +1 (571) 663-3026 |
                <a href="https://linkedin.com/in/ramyashree-nandakumar" target="_blank">View LinkedIn Profile</a>
            </p>

        </div>
    </div>

    <div id="about" class="section">
        <div class="content">
            <h2>Education</h2>
            <ul>
                <li><strong>Master of Science in Computer Science</strong>, George Mason University (2023 - 2025)
                    <br> Concentration: Machine Learning, Deep Learning, AI | GPA: 3.74/4.0
                </li>
                <li><strong>Bachelor of Technology</strong>, CMR Institute of Technology, Bangalore (2015 - 2019)
                    <br> GPA: 8.83/10
                </li>
            </ul>
            <h2>Work Experience</h2>
            <h5>Software Engineer, Ellucian (2019 - 2023)</h5>
            <ul>
                <li>Developed scalable back-end features using Node.js, React.js, and AWS, reducing system
                    processing times by 40%.</li>
                <li>Led a transition to microservices architecture, improving modularity and API integrations.</li>
                <li>Mentored junior developers, improving team efficiency by 15%.</li>
                <li>Designed microservices to optimize API usage, reducing redundancy and operational costs by 25%.
                </li>
            </ul>
        </div>
    </div>

    <div id="projects" class="section">
        <div class="content">
            <h2>Key Projects</h2>
            <ul>
                <li><strong>Credit Card Fraud Detection</strong> – Built ML models achieving 95% precision.</li>
                <li><strong>Automated Image Captioning</strong> – Achieved BLEU score of 0.67 using ResNet50 & LSTM.
                </li>
                <li><strong>Ellucian Payment Services</strong> – Reduced payment failure rates by 20%.</li>
                <li><strong>Quercus Logging System</strong> – Improved logging accessibility by 30%.</li>
                <li><strong>Web Scraper for E-commerce</strong> – Analyzed 10,000+ products for insights.</li>
            </ul>
        </div>
    </div>

    <hr>
    <p class="text-center">
        <a class="btn btn-custom text-white" [routerLink]="['/cs-department']">Visit CS Department Page</a>
      </p>
      <p class="text-center">
        <a class="btn btn-custom text-white" [routerLink]="['/cs-department']">Take a Student Survey</a>
      </p>
      

</div>