<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['/']">Ramyashree Nandakumar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/cs-department']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">CS Department</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/survey']" routerLinkActive="active">Survey</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/survey-list']" routerLinkActive="active">Survey List</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
